<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")        
        link(rel="stylesheet", href="css/fontawesome/css/all.min.css")
        link(rel="stylesheet", href="css/styles.css")
        title Busisness
    body
        header(class="l-header")
            nav(class="nav")
                p(class="nav__p") Logo
                i(class="fas fa-bars" id="btn_bars")
                ul(class="nav__ul" id="nav__menu")
                    li(class="nav__li btn__close"): a(class="far fa-times-circle")  
                    li(class="nav__li"): a home  
                    li(class="nav__li"): a About Us  
                    li(class="nav__li"): a Service
                    li(class="nav__li"): a Contact
        div(class="containerSeptionFooter")
            section(class="l-section")
                div(class="containerSection")
                    div(class="dataSeption")
                        h1(class="dataSeption__h1"): |Hey, wellcome to our amazing office
                        h2(class="dataSeption__h2"): |To the Universe.
                        p(class="dataSeption__p"): |Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus, illum.
                        input(class="buttom dataSeption__buttom" type="button", value="Sing up")
                    div(class="containerSection__div")
                        img(class="containerSection__img" src="images/desktop.jpg", alt="descktop with many things over it")
            footer(class="footer")
                    ul(class="footer__ul")
                        li(class="footer__li"): a(class="fab fa-facebook-f footer__a icon")   
                        li(class="footer__li"): a(class="fab fa-twitter footer__a icon") 
                        li(class="footer__li"): a(class="fab fa-instagram footer__a icon") 
                        li(class="footer__li"): a(class="fab fa-whatsapp footer__a icon")
        script(src="js/main.js")