@import "../utilities/variables";
.l-footer{
    width: 100%;
}
.footer__ul{
    width: 100%;
    padding: .5rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
}
.footer__li{     
    cursor: pointer;    
}
.footer__a,.footer__derechos{
    padding: .5rem;    
}
.footer__derechosReservados{
    color:$color-primary;  
}
@media (min-width:36rem){
    
}
@media (min-width:48rem){
    .footer__a{
        padding: .8rem;    
    }
}
@media (min-width:62rem){
   
}
@media (min-width:75rem){
    .footer__a{
        padding: 1rem;    
    }
    .footer__derechosReservados{
        padding: 1.5rem;       
    }
}