@import url(../../../font/Josefin_Sans/JosefinSans-Bold.ttf);
@import url(../../../font/Montserrat/Montserrat-Light.ttf);
@import url(../../../font/Roboto/Roboto-Light.ttf);
body{
    font-size: 85%;
    letter-spacing: 0.05rem;
    word-spacing: 0.1rem; 
    line-height: 1.5;
}

@media (min-width:36rem){
    body{
        font-size: 90%;
    }
    
}
@media (min-width:48rem){
    body{
        font-size: 100%;
    }
    
}
@media (min-width:75rem){
    body{
        font-size: 110%;
    }
    
}

/*

@media (min-width:36rem){
    
}
@media (min-width:48rem){
   
}
@media (min-width:62rem){
   
}
@media (min-width:75rem){
    
}
*/